@import "tailwindcss";
@theme {
  --font-poppins: "Poppins", "sans-serif";
  --color-charcoal: oklch(0.223 0.016 262.1);
  --color-charcoalhover: oklch(0.18 0.016 262.1);
  --color-yellow: oklch(0.795 0.184 86.047);
  --color-yellowhover: oklch(0.681 0.162 75.834);
}
